*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.heading{
    color:brown;
    font-weight: bold;
    text-shadow:1px 1px 5px black;
    display: flex;
    justify-content: center;

}
.time{
    display: flex;
    justify-content: center;
    color: aquamarine;
    text-shadow:2px 2px 2px black;
    padding-top:100px;
    font-weight:bold;
}
.List{
    color: green;
    font-weight: bold;
    font-size: larger;
    
}
.cardDiv{
    padding:20px;
    width:480px;
    background-color:black;
    color:white;
    float: left;
    border:1px solid white;
}
.Heading{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
    background-color:rgb(195, 191, 191);
}
.BTN{
    background-color: black;
    color: white;
    width:100PX;
    height:30PX;
    border-radius:5PX;
}
.BTN:hover{
    background-color:white;
    color: black;
}
.input{
   height:40px;
   width:300px;
   border-radius:5px;
}

.inputDiv{
    width:100vw;
    height:auto;
    padding-top:100PX;

}
.centerDiv{
    width:400px;
    height:auto;
    padding:10px;
    border:1px solid black;
}

.dataBox{
    width:20%;
    height:100%;
    background-color: aqua;
    border:.5px solid black;
   float: left;
}

.form{
    width:500px;
    height:300px;
    border:1px solid black;
    margin: auto;
    padding-top:50px;
    font-size: larger;
}

.getData{
    width:100vw;
    height:200px;
}